 <div class="row" >

    <!-- Main Blog Content -->

    <div class="large-9 columns" role="content" >
      <h2>About Me</h2>
      <section>
      <p>I'm a Sydney-based freelance <strong>web developer</strong> &amp; <strong>multimedia designer</strong>, who gets excited about open source tech.<p>
      <p>As a recent web design and development graduate I <strong>embrace technical challenges</strong> head-on. I enjoy working to <strong>create the best solution possible</strong> within the time constraints. I love working as part of a team to <strong>produce to spec high quality results.</strong></p>
    </section>

    <section>
      <p>I am passionate about getting more women involved in the Austalian Tech community and mentor at Ruby on Rails Installfest.</p>

      <p>When I am not coding I enjoy knitting, skating and the Sydney Rockabilly scene.</p>
    </section>

  </div>

  <!-- End Main Content -->

  <%= render partial: 'shared/sidebar' %>

  </div>

  <!-- End Main Content and Sidebar -->