 <div class="row" >
 
    <!-- Main Blog Content -->
    <div class="large-9 columns" role="content" >

    </div>
 
    <!-- End Main Content -->
 
 
    <!-- Sidebar -->
 
    <aside class="large-3 columns">
 
      <h5>Categories</h5>
      <ul class="side-nav">
        <li><a href="#">Articles</a></li>
        <li><a href="#">Ruby on Rails</a></li>
        <li><a href="#">Design</a></li>
        <li><a href="#">HTML/CSS</a></li>
        <li><a href="#">JavaScript</a></li>
      </ul>
 
      <div class="panel">
        <h5>Events</h5>
        
        <a href="#">Read More →</a>
      </div>
 
    </aside>
 
    <!-- End Sidebar -->
  </div>
 
  <!-- End Main Content and Sidebar -->