<div class="row">
    <div class="large-12 columns">
      <div class="nav-bar right">
       <ul class="button-group">
         <li><a target="_blank" href="https://github.com/catherine-jones" class="button">Github</a></li>
         <li><a target="_blank" href="https://twitter.com/CathJones0" class="button">Twitter</a></li>
         <li><a target="_blank" href="/about" class="button">About me</a></li>
         <li><a target="_blank" href="https://www.catherinejonesdesigns.com.au" class="button">Portfolio</a></li>
        </ul>
      </div>
      <h1>Catherine &nbsp;<small>A Digital Notebook</small></h1>
      <hr />
    </div>
  </div>
